.body{
    background-color: darkgoldenrod;
}

li a:hover {
    background-color: darkgoldenrod;
    color: black;
}
li a{
    color:blue;
}
li a:visited{
    color:blueviolet;
}

p{
    font-family: serif;
    color: darkred ;
    font-style: italic;
    font-weight: bolder;
    line-height: 1.5; }

ul{
    list-style: none;
}

.leftListOnTheSide {
    width: 300px;
    height: 800px;
    float: left;
    background-color: aquamarine;

    list-style: none;
    align-content: center;

    font-style: italic;
    line-height: 3.5;
    font-size: 25px;
}

.inhalt {
    border: 3px solid darkgoldenrod;
    background-color: darkgoldenrod;
}


/* Reset Grundlayout.css bezüglich div-Elementen */

div {
    height: auto;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
}


